{% load static %}

<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Sign In</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <h1>Sign In Page</h1>
        <p>This will be the sign in page.</p>
        <button type="button" onclick="window.location='signup'"> Signup </button>
        <button type="button" onclick="window.location='setting'"> Settings </button>
        <button type="button" onclick="window.location='homepage'"> Login </button>
    </body>
</html>